*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Calibri, sans-serif;
  text-rendering: optimizeSpeed;
}

h1, h2 {
  margin-bottom: 15px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin: 5px 0;
}

ul {
  list-style-type: circle;
}

ul li {
  margin: 5px 0;
}

hr {
  margin: 30px 0;
}

.main-cv {
  display: flex;
  max-width: 768px;
  padding: 50px 15px;
  margin: 0 auto;
}

.main-cv .info .img {
  width: 200px;
  margin-left: 240px;
  float: right;
  display: table-cell;
  vertical-align: top;
}

.img .avatar {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.main-cv .info {
  flex-grow: 2;
  width: 50%;
}
.footer {
  background: #005855;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}